/* h1, h2, h3, h4, h5 {
    font-family: 'Martel', serif;
} */

/* header.masthead {
    background-color: #1B2021;
    height:400px;
} */

/* header.masthead .page-heading {
    margin: auto;
    padding: 150px 0px 150px;
    text-align: left;
} */

/* header.masthead .page-heading h1{
    font-family: 'Martel', serif;
    font-size: 40px;
    font-weight: 400;
    margin: auto;
    color: #E3DC95;
} */

/* header.masthead .page-heading .subheading {

    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 25px;
} */

/* header.masthead .post-heading .meta {
    font-family: 'Martel', serif;
    font-weight: 200;
    font-style: normal;
    font-size: medium;
} */

/* header.masthead .post-heading h1{
    font-family: 'Martel', serif;
    font-weight: 200;
} */

/* p {
    font-family: 'Roboto', sans-serif; 
} */

/* #mainNav {
    font-family: 'Roboto', sans-serif; 
} */

/* #mainNav .navbar-nav > li.nav-item > a {
    text-transform: none;
    font-size: 14px;
    font-weight: 400;
}

.post-preview a {
    font-family: 'Martel', serif;
    font-weight: 400;
    color: #51513D;
} */

/* .post-preview > a > .post-subtitle {
    font-weight: 100;
} */

.post-preview > .post-meta {
    color: #1B2021;
}

/* body {
    background-color: #f5f6f7;
} */

/* .btn {
    font-size: 14px;
    font-weight: 800;
    padding: 15px 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  .btn-primary {
    background-color: #51513D;
    border-color: #51513D;
    &:hover,
    &:focus,
    &:active {
      color: $white;
      background-color: darken($primary, 7.5) !important;
      border-color: darken($primary, 7.5) !important;
    }
  }
  
  .btn-lg {
    font-size: 16px;
    padding: 25px 35px;
  } */